<header class="header">
  <div class="header_flex flex">
    <div class="header_logo">
      <a href="#" title="accede a la página principal">
        <img src="{{route}}assets/images/logo.svg" alt="accede a la página principal de OpositaTest">
      </a>
    </div>

    <div class="header_nav">
      <ul class="header_nav_list">
        <li>
          <a href="#" title="accede a oposiciones">
            <span class="icon"><img src="{{route}}assets/images/icon-oppositions.svg" alt=""></span>
            <span>Oposiciones</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a esquemas">
            <span class="icon"><img src="{{route}}assets/images/icon-schemes.svg" alt=""></span>
            <span>Esquemas</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a retos">
            <span class="icon"><img src="{{route}}assets/images/icon-challenge.svg" alt=""></span>
            <span>Retos</span>
          </a>
        </li>
        <li>
          <a href="#" title="accede a blog">
            <span class="icon"><img src="{{route}}assets/images/icon-blog.svg" alt=""></span>
            <span>Blog</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="header_mobile">
      <button class="btn btn_icon btn_nav">MENU</button>
    </div>

    <div class="header_right">
      <div class="cta">
        <button class="btn btn_secondary btn_test">Hacer test</button>
      </div>

      <div class="user">
        <img src="{{route}}assets/images/avatar.svg" alt="Elena Gómez Gómez">
      </div>
    </div>
  </div>
</header>